<h1>Listing people</h1>

<table>
  <tr>
    <th>Full legal name</th>
    <th>Born at</th>
    <th>Us citizen</th>
    <th>Marital status</th>
    <th>Alive</th>
    <th>Has special needs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.full_legal_name %></td>
    <td><%= person.born_at %></td>
    <td><%= person.us_citizen %></td>
    <td><%= person.marital_status %></td>
    <td><%= person.alive %></td>
    <td><%= person.has_special_needs %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
