<p id="notice"><%= notice %></p>

<p>
  <b>Full legal name:</b>
  <%= @person.full_legal_name %>
</p>

<p>
  <b>Born at:</b>
  <%= @person.born_at %>
</p>

<p>
  <b>Us citizen:</b>
  <%= @person.us_citizen %>
</p>

<p>
  <b>Marital status:</b>
  <%= @person.marital_status %>
</p>

<p>
  <b>Alive:</b>
  <%= @person.alive %>
</p>

<p>
  <b>Has special needs:</b>
  <%= @person.has_special_needs %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
