<h1>Listing spouses</h1>

<table>
  <tr>
    <th>Full legal name</th>
    <th>Born at</th>
    <th>Us citizen</th>
    <th>Marital status</th>
    <th>Alive</th>
    <th>Has special needs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spouses.each do |spouse| %>
  <tr>
    <td><%= spouse.full_legal_name %></td>
    <td><%= spouse.born_at %></td>
    <td><%= spouse.us_citizen %></td>
    <td><%= spouse.marital_status %></td>
    <td><%= spouse.alive %></td>
    <td><%= spouse.has_special_needs %></td>
    <td><%= link_to 'Show', spouse %></td>
    <td><%= link_to 'Edit', edit_spouse_path(spouse) %></td>
    <td><%= link_to 'Destroy', spouse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spouse', new_spouse_path %>
