<p id="notice"><%= notice %></p>

<p>
  <b>Address 01:</b>
  <%= @address.address_01 %>
</p>

<p>
  <b>Address 02:</b>
  <%= @address.address_02 %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>State:</b>
  <%= @address.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @address.zip %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
