<%= form_for(settlor, html: {class: "form-horizontal"}) do |f| %>
  <% if settlor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(settlor.errors.count, "error") %> prohibited this settlor from being saved:</h2>

      <ul>
      <% settlor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :full_legal_name, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :full_legal_name, placeholder: "Full legal name" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :born_at, "DOB", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :born_at, placeholder: "Select date of birth" %>
    </div>
  </div>

  <div class="control-group">
    <p class="control-label">US citizen?</p>
    <div class="controls">
      <%= f.label :us_citizen_true, nil, class: "radio", class: "radio inline" do %>
        <%= f.radio_button :us_citizen, true %>
        Yes
      <% end %>
      <%= f.label :us_citizen_false, nil, class: "radio", class: "radio inline" do %>
        <%= f.radio_button :us_citizen, false %>
        No
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <p class="control-label">Marital status?</p>
    <div class="controls">
      <%= f.label :marital_status_married, nil, class: "radio", class: "radio inline" do %>
        <%= f.radio_button :marital_status, :married %>
        Married
      <% end %>
      <%= f.label :marital_status_single, nil, class: "radio", class: "radio inline" do %>
        <%= f.radio_button :marital_status, :single %>
        Single
      <% end %>
    </div>
  </div>

