  <tr>
    <td>
      <div class="record-value"><%= spouse_child.full_legal_name %></div>
      <div style="display: none; " class="edit-control"><%= text_field [:spouse_child, index].join("_").to_sym, :full_legal_name, value: spouse_child.full_legal_name %></div>
    </td>
    <td>
      <div class="record-value"><%= spouse_child.born_at %></div>
      <div style="display: none; " class="edit-control edit-control-date"><%= text_field [:spouse_child, index].join("_").to_sym, :born_at, value: spouse_child.born_at %></div>
    </td>
    <td>
      <div class="record-value"><%= spouse_child.alive %></div>
      <div style="display: none; " class="edit-control"><%= check_box [:spouse_child, index].join("_").to_sym, :alive, value: spouse_child.alive %></div>
    </td>
    <td>
      <div class="record-value"><%= spouse_child.has_special_needs %></div>
      <div style="display: none; " class="edit-control"><%= check_box [:spouse_child, index].join("_").to_sym, :alive, value: spouse_child.has_special_needs %></div>
    </td>

    <td>
    <div class="xcontrol-group">
      <!-- <a class="action pull-right" title="Add child"><i class="icon-plus"></i></a> -->
      <div class="btn-group btn-group-default pull-right">
        <!-- <= link_to settlor_alias, class:"btn" do > -->
        <!--   <i class="icon-search"></i> Show -->
        <!-- < end > -->
        <%= link_to js_void, class:"btn btn-edit", title: "Edit" do %>
          <i class="icon-pencil"></i> <div style="display: none; ">Edit</div>
        <% end %>
        <%= link_to spouse_child, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-delete", title: "Destroy" do %>
          <i class="icon-trash"></i> <div style="display: none; ">Destroy</div>
        <% end %>
      </div>

      <div class="btn-group btn-group-edit pull-right" style="display: none; ">
        <!-- <= link_to settlor_alias, class:"btn" do > -->
        <!--   <i class="icon-search"></i> Show -->
        <!-- < end > -->
        <%= link_to spouse_child, method: :put, class:"btn btn-save btn-update", title: "Save" do %>
          <i class="icon-thumbs-up"></i> <div style="display: none; ">Save</div>
        <% end %>
        <%= link_to js_void, class:"btn btn-cancel", title: "Cancel" do %>
          <i class="icon-thumbs-down"></i> <div style="display: none; ">Cancel</div>
        <% end %>
        <%= link_to spouse_child, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-delete", title: "Destroy" do %>
          <i class="icon-trash"></i> <div style="display: none; ">Destroy</div>
        <% end %>
      </div>
    </div>
    </td>
    
    <!-- <td><= link_to 'Show', settlor ></td> -->
    <!-- <td><= link_to 'Edit', edit_settlor_path(settlor) ></td> -->
    <!-- <td><= link_to 'Destroy', settlor, method: :delete, data: { confirm: 'Are you sure?' } ></td> -->
  </tr>
