<%= form_for(settlor, html: {class: "form-horizontal"}) do |f| %>
  <% if settlor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(settlor.errors.count, "error") %> prohibited this settlor from being saved:</h2>

      <ul>
      <% settlor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4 class="control-group">Contact information</h4>

  <div class="control-group">
    <%= label :phone_number, :value, "Phone number", class: "control-label" %>
    <div class="controls">
      <%= text_field :phone_number, :value, placeholder: "Number you can be reached at" %>
    </div>
  </div>

  <div class="control-group">
    <%= label :email_address, :value, "Email address", class: "control-label" %>
    <div class="controls">
      <%= text_field :email_address, :value, placeholder: "Your email address" %>
    </div>
  </div>

  <div class="control-group">
    <%#= f.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>

